#container{
  margin: 6em auto;
  width:40%;
  padding: 4em;
  border: 2px solid black;
  background-color: lightgrey;
  border-radius:20%
}

img{
  max-width:100%;
  margin-bottom:2em
}

h3{
  text-align: center;
  margin: 0
}

#qrcode{
  margin-left: 10em
}
