#container{
  margin: 6em auto;
  width:40%;
  padding: 1em;
  border: 2px dashed black;
}

img{
  max-width:100%;
  margin-bottom:2em
}

h3{
  text-align: center;
  margin: 0
}

#qrcode{
  margin-left: 10em
}
